<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Analisador Cyberpunk" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# CORREÇÃO AQUI: Removemos "inter-font" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-900 text-green-500 font-mono antialiased min-h-screen selection:bg-green-500 selection:text-black">
    <main class="container mx-auto mt-10 px-4">
      <%= yield %>
    </main>
  </body>
</html>